#Logs
application/logs/*.php

# Content types
/application/xml/types/*.xml

# Custom builds and generated php files
/core/documentation/build
/core/views/admin/content/translations.php

# Attachs and cache files #
*.tmp
/attach/cache/
/attach/
/application/cache/_bancha/*.css
/application/cache/_bancha/*.js


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
/ExportedObj/
/obj/
/*.svd
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln
/*.user
/*.unityproj
/*.booproj

# ============ #
# OS generated #
# ============ #
/.DS_Store
/.DS_Store?
/._*
/.Spotlight-V100
/.Trashes
/ehthumbs.db
/Thumbs.db